@page "/counter"
@using Microsoft.Extensions.Configuration
@using System
@implements IDisposable
@inject IConfiguration Config
@inject IJSRuntime Jsr

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div id="svelte-app"></div>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        currentCount++;

        await Jsr.InvokeVoidAsync("SvelteComponents.RenderHello", currentCount);
    }

    public async void Dispose()
    {
        await Jsr.InvokeVoidAsync("SvelteComponents.DestroyHello", currentCount);

        Console.WriteLine("Counter Component Dispose()");
    }
}
